.toolbar-wrap {
  width: 100%;
  display: flex;
  flex-flow: row;
  height: 52px;
  align-items: center;
}

.toolbar-divider {
  width: 1px;
  height: 32px;
  background-color: #ddd;
  margin: 0 24px;
}

.toolbar-item {
  width: 30%;

  select {
    width: 50%;
    height: 32px;
  }
}
